<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfa13326-4c75-4a7b-964c-5f7dc19cb1da" Alias="Home - menu2 - Menu Control Custom" Level="1">
  <Info>
    <Name>Home - menu2 - Menu Control Custom</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>MenuControlCustom</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>