<?xml version="1.0" encoding="utf-8"?>
<DataType Key="797f52c5-720e-4eeb-a1ba-ae8cdecbc1e6" Alias="Home - Menu - Menu Control" Level="1">
  <Info>
    <Name>Home - Menu - Menu Control</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>MenuControl</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>