<?xml version="1.0" encoding="utf-8"?>
<Content Key="fedc03ce-0bed-4b94-9e1d-66f8772d90dd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-19T18:59:49</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar-EG">Home</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <menu>
      <Value Culture="ar-EG"><![CDATA[[
  {
    "id": "mklj3v7ve8mw685atd",
    "name": "\u0627\u0644\u0635\u0641\u062D\u0629 \u0627\u0644\u0631\u0626\u064A\u0633\u064A\u0629",
    "url": "http://gafi.com",
    "children": [
      {
        "id": "mklj5khyt818042x4ao",
        "name": "\u0639\u0646 \u0645\u0635\u0631",
        "url": "https://whyegypt.com",
        "children": []
      }
    ],
    "expanded": true
  },
  {
    "id": "mklj4hdoy7uzqf7hps",
    "name": "\u0644\u0645\u0627\u0630\u0627 \u0645\u0635\u0631",
    "url": "https://www.google.com",
    "children": []
  },
  {
    "id": "mklj9f52onlwch9g8bf",
    "name": "\u0627\u0644\u0627\u0633\u062A\u062B\u0645\u0627\u0631",
    "url": "https://test334.com",
    "children": []
  },
  {
    "id": "mkmbipo61d7sedzcljl",
    "name": "test",
    "url": "test.com",
    "children": []
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "id": "mklj476bwhwnzo7xy5k",
    "name": "Root2",
    "url": "w3schools.com",
    "children": [
      {
        "id": "mklj6la50w1w3dz7t9m",
        "name": "test",
        "url": "http://test.com",
        "children": [
          {
            "id": "mkmbj6uq7hq13g5ax7",
            "name": "test2",
            "url": "test3.com",
            "children": []
          }
        ]
      }
    ],
    "expanded": true
  },
  {
    "id": "mklj6vqnf5r72xsrtu",
    "name": "test2",
    "url": "https://test3.com",
    "children": []
  }
]]]></Value>
    </menu>
  </Properties>
</Content>