<?xml version="1.0" encoding="utf-8"?>
<Content Key="fedc03ce-0bed-4b94-9e1d-66f8772d90dd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-19T18:59:49</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar-EG">Home</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-EG">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <menu2>
      <Value Culture="ar-EG"><![CDATA[[
  {
    "id": "node-1769002594182-g6oxmguae",
    "label": "test",
    "url": "test.com",
    "children": []
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "id": "node-1769002556544-ysr39keyv",
    "label": "test",
    "url": "test.com",
    "children": [
      {
        "id": "node-1769002576115-yxci3qjks",
        "label": "test2",
        "url": "test.com",
        "children": []
      }
    ]
  }
]]]></Value>
    </menu2>
  </Properties>
</Content>